#menu {
  margin: 0 25%;
  border: 1px solid black;
  min-width: 350px;
}

h2 {
  font-size: 2.35rem;
}

h3 {
  font-size: 1.5rem;
}

.menu-title {
  font-variant: petite-caps;
  text-align: center;
}

.menu-section-header {
  text-align: center;
  font-variant: small-caps;
}

.entrees-area {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: center;
}

.entree {
  width: 45%;
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  margin: 8px 15px;
}

.entree-pic {
  border: 1px solid black;
  width: 80%;
  max-width: 250px;
  height: 125px;
  object-fit: cover;
}

@media (max-width: 600px) {
  #menu {
    margin: 0 5px;
  }
}

@media (min-width: 1342px) {
  .entrees-area {
    justify-content: flex-start;
  }
}